li {
	font-style: italic;
}
ul {
	padding-left: 5%;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	background: gray;
}
a:active {
	text-decoration: none;
}
tbody {
	font-style: italic;
}
tbody tr:nth-child(even) {
	background-color: #AFEEEE;
}
tbody tr:nth-child(odd) {
	background-color: #B0C4DE;
}
