.header h1 {
	text-align: center;
	font-family: 'Tangerine';
	font-size: 80px;
}
.footer {
	text-align: center;
}
.navigation, .footer {
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
	padding: 10px 10px 10px 10px;
}
a:visited {
	color: gray;
}
a:hover {
	font-weight: bold;
}
a:active {
	text-decoration: none;
}